doctype html
html
    title
    meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name="viewport")
    head
        link(rel='icon', href='../img/icoH4.png', type='image/x-icon')
        link(rel='shortcut icon', href='../img/icoH4.png', type='image/x-icon')
        link(rel='stylesheet', media=screen, href='/css/visitor.css')
    body(cz-shortcut-listen="true")
        #page-region
            .main-region#main-region

    script(src="/js/lib/jquery-3.3.1.js")
    script(src='/js/cancellation.js')
    script(src='/js/lib/moment-with-locales.js')
    script.