doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title= "HOLANDLY"
        link(rel='icon', href='../img/icoH4.png', type='image/x-icon')
        link(rel='shortcut icon', href='../img/icoH4.png', type='image/x-icon')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/fullcalendar.min.css', rel='stylesheet')
    //link(href='../js/lib2/css/bootstrap/tabulator_bootstrap4.min.css', rel='stylesheet')
    link(href='../js/lib2/css/bootstrap/tabulator_bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='../js/lib2/css/jsoneditor.css')
    script(type='text/javascript', src='../js/lib2/js/tabulator.min.js')
    style
        include ../../src/public/css/personal.css
    script
        include ../../src/public/js/lib/jquery-3.3.1.js
    body
        block tab_menu
        p.text-center.text-muted © 2018 Holateam 4
    script(src='../js/lib/moment.min.js')
    script(src='../js/lib/jquery.min.js')
    script(src='../js/lib/jquery-ui.min.js')
    script(src='../js/lib/popper.min.js')
    script(src='../js/lib/bootstrap.min.js')
    script(src='../js/lib2/js/jquery.jsoneditor.js')
    script
        include ../../src/public/js/personal.js
        include ../../src/public/js/server-request.js
        include ../../src/public/js/visitors-filter.js
        //include ../../src/public/js/testdata.js
