extends layout

block tab_menu
    nav
        #nav-tab.nav.nav-tabs.justify-content-center
            a#menuLogo.nav-item.nav-link.flex-grow-1.disabled( href='#')
                img(src='/img/logoH4.png')
            a#nav-visitors-tab.updateData.nav-item.nav-link.text-success.active(data-toggle='tab', href='#nav-visitors', role='tab', aria-controls='nav-visitors', aria-selected='true')
                | События
            a#nav-patterns-tab.updateData.nav-item.nav-link.text-primary(data-toggle='tab', href='#nav-patterns', role='tab', aria-controls='nav-patterns', aria-selected='false')
                | Шаблоны
            a.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
                    img(src='/img/admin.png' height='24')
                    = login
                .dropdown-menu.dropdown-menu-right
                    //a.copyLink.dropdown-item(href='#') Получить ссылку
                    a.dropdown-item(href='/'+ login) Перейти страницу подписки
                    //.dropdown-divider
                    //a.webhookSettings.dropdown-item(href='#', data-toggle="modal", data-target="#webhook-modal-form") Настройка оповещения
                    .dropdown-divider
                    a#logOut.dropdown-item(href='#') Выход
    #nav-tabContent.tab-content
        #nav-visitors.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-visitors-tab')
            block block_visitors
        #nav-patterns.tab-pane.fade(role='tabpanel', aria-labelledby='nav-patterns-tab')
            block block_patterns

    // Modal remove
    #remove-modal-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='removeModalLabel', aria-hidden='true')
        form
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#removeModalLabel.modal-title Подтверждение удаления
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .alert.alert-danger#descriptionText
                            | A simple danger alert—check it out!
                        input#removePatternId(type='text', hidden='')
                        input#removeEventId(type='text', hidden='')
                        .form-group.row
                            label.col-sm-2.col-form-label(for='reason') Причина
                            .col-sm-10
                                textarea#reason.form-control(aria-label='With textarea')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Отмена
                        input.btn.btn-primary(type='submit', value='Удалить')


    script.
        $(document).ready(function () {
            $('#remove-modal-form')
                .on('show.bs.modal', function () {
                    console.log('remove-modal-form show')
                })
                .on('hide.bs.modal', function () {
                    console.log('remove-modal-form hide')
                });
        })
    //
    //        $('.copyLink').click(function () {
    //
    //        })
    //
    //        $('#event-modal-form')
    //            .on('show.bs.modal', function () {
    //                console.log('event-modal-form show')
    //            })
    //            .on('hide.bs.modal', function () {
    //                console.log('event-modal-form hide')
    //            });
    //    })
    //
    //
