extends menu
block block_visitors
    .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
        .card.border-primary.mb-4.shadow-lg
            .card-header
                span#select-stats(style='margin:20px 20px 0 20px; font-size: 1em;')
                    a
                        | Выбрано:
                        span.highlight 0
                #deselect-all.a.btn.btn-outline-info Отменить выбор
                .rouded.float-right
                    #select-all.a.btn.btn-outline-danger Отменить участие
                    #select-reschedule.a.btn.btn-outline-primary Перерегистрация
                    #select-setdone.a.btn.btn-outline-success Установить как выполнено
            .card-body.text-primary
                #visitorsTable
    script.
        var table = new Tabulator("#visitorsTable", {
            height: window.innerHeight - 400,
            layout: "fitColumns",
            movableRows: true,
            // groupBy: "event",
            selectable: true,
            headerFilterPlaceholder: "Фильтр...",
            columns: [ //Define Table Columns
                {title: "Имя и фамилия", field: "name", headerFilter: "input",},
                {title: "e-mail", field: "email", headerFilter: "input"},
                {title: "Событие", field: "event", headerFilter: "input"},
                {title: "Дата события", field: "dateEvent", sorter: "date", align: "center", headerFilter: "input"},
                {title: "Время события", field: "timeEvent", sorter: "time", align: "center", headerFilter: "input"},
                {title: "Дата подписки", field: "dateSign", sorter: "date", align: "center", headerFilter: "input"},
                {title: "Время подписки", field: "timeSign", sorter: "time", align: "center", headerFilter: "input"},
            ],
            rowSelectionChanged: function (data, rows) {
                //update selected row counter on selection change
                $("#select-stats span").text(' '+data.length);
                console.log(table.getSelectedRows());
            }
        });
        //select row on "select all" button click
        $("#select-all").click(function () {
            table.selectRow();
        });
        //deselect row on "deselect all" button click
        $("#deselect-all").click(function () {
            table.deselectRow();
        });
        // table.setData(testtabledata);

block block_patterns
    .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
        .card.border-primary.mb-4.shadow-lg
            .card-header
                //strong Конфигурация
                .rouded.float-right
                    a.btn.btn-outline-info Развернуть
                    a.btn.btn-outline-info Свернуть
                    a.btn.btn-outline-success Сохранить
            .card-body.text-primary
                p.em.small.font-italic#path
                #editor.json-editor
        hr
        .input-group
            .input-group-prepend
                span.input-group-text JSON
            textarea#json.form-control(aria-label='JSON')
    script.
        function printJSON() {
            $('#json').val(JSON.stringify(json));
        }
        function updateJSON(data) {
            json = data;
            printJSON();
        }
        function showPath(path) {
            $('#path').text(path);
        }
        $(document).ready(function () {
            $('#json').change(function () {
                var val = $('#json').val();
                if (val) {
                    try {
                        json = JSON.parse(val);
                    }
                    catch (e) {
                        alert('Error in parsing json. ' + e);
                    }
                } else {
                    json = {};
                }
                $('#editor').jsonEditor(testjson, {change: updateJSON, propertyclick: showPath});
                printJSON();
            });
            printJSON();
            $('#editor').jsonEditor(testjson, {change: updateJSON, propertyclick: showPath});
        });
