extends menu
block block_visitors
    .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
        .card.border-primary.mb-4.shadow-lg
            .card-header
                span#select-stats(style='margin:20px 20px 0 20px; font-size: 1em;')
                    a Выбрано:
                        span.highlight 0
                i.fa.fa-bars#deselect-all.a.btn.btn-outline-info Отменить выбор
                .rouded.float-right
                    a.fa.fa-times#select-cancel.btn.btn-outline-danger Отменить участие
                    //i.fa.fa-exchange#select-reschedule.a.btn.btn-outline-primary Перерегистрация
                    a.fa.fa-reply#select-reschedule.btn.btn-outline-primary Перерегистрация
                    a.fa.fa-check-square-o#select-attended.btn.btn-outline-success Установить как выполнено
            .card-body.text-primary
                #visitorsTable
    script.
        $(document).ready(function () {
            getVisitors();
        })

        function getVisitors() {
            $.ajax({
                type: 'get',
                url: '/edit/events',
                dataType: 'json',
                data: {},
                response: 'json',
                success: function (data) {
                    console.log('======> getVisitors success');
                    console.log(data);
                    table.setData(data);
                }
            });
        }
        function cancelVisitors(id, description) {
            console.log(id);
            console.log(description);
            $.ajax({
                type: "put",
                url: '/edit/cancel',
                data: JSON.stringify({
                    'reason': description,
                    'events': id
                }),
                contentType: 'application/json',
                success: function (data) {
                    console.log('======> cancelVisitors success');
                    getVisitors();
                }
            });
        }

        function attendedVisitors(ids) {
            console.log(ids);
            $.ajax({
                type: 'put',
                url: '/edit/attended',
                data: JSON.stringify({'eventid': ids}),
                contentType: 'application/json',
                success: function (data) {
                    console.log('attendedVisitors success');
                    getVisitors();
                }
            });
        }

        function rescheduleVisitors(id) {
            console.log(id);
            $.ajax({
                type: 'put',
                url: '/edit/reschedule',
                data: JSON.stringify({'events': id}),
                contentType: 'application/json',
                success: function (data) {
                    console.log('rescheduleVisitors success');
                    window.location = document.getElementById('subscription').href;
                }
            });
        }
        var printIcon = function (cell, formatterParams) { //plain text value
            if (cell.getValue() === 0) {
                return "<i class='fa fa-square-o'></i>";
            }
            return "<i class='fa fa-check-square-o'></i>";
        };

        var table = new Tabulator("#visitorsTable", {
            height: window.innerHeight - 400,
            layout: "fitColumns",
            // movableRows: true,
            // pagination: "local",
            // paginationSize: 6,
            // groupBy: "event",
            selectable: true,
            headerFilterPlaceholder: "Фильтр...",
            // rowFormatter: function (row) {
            //     if (row.getData().attended == 1) {
            //         row.getElement().style.backgroundColor = "#98ff96";
            //     }
            // },
            columns: [ //Define Table Columns
                {title: "", field: "attended", width: 50, align: "center", formatter: printIcon},
                // {title: "", field: "attended", width: 32, align: "center", formatter:"tickCross"},
                {title: "Имя и фамилия", field: "name", headerFilter: "input"},
                {title: "e-mail", field: "email", headerFilter: "input"},
                {title: "Событие", field: "event", headerFilter: "input"},
                {title: "Дата события", field: "dateEvent", sorter: "date", align: "center", headerFilter: "input"},
                {title: "Время события", field: "timeEvent", sorter: "time", align: "center", headerFilter: "input"},
                {
                    title: "Дата подписки",
                    width: 320,
                    field: "insertion_time",
                    sorter: "date",
                    align: "center",
                    headerFilter: "input"
                },
                // {title: "Время подписки", field: "timeSign", sorter: "time", align: "center", headerFilter: "input"},
            ],
            rowSelectionChanged: function (data, rows) {
                $("#select-stats span").text(' ' + data.length);
            }
        });
        $("#deselect-all").click(function () {
            table.deselectRow();
        });
        $("#select-cancel").click(function () {
            var selected = table.getSelectedData();
            if (selected.length > 0) {
                console.log("=====> cancel");
                var description = 'Отсмена участия:\n';
                var cancelId = [];
                selected.forEach(function (visitor) {
                    console.log(visitor);
                    cancelId.push(visitor.eventid);
                    description += visitor.name + ' ( ' + visitor.email + ' )\n';
                });
                $('#descriptionText')[0].innerText = description;
                remove = function () {
                    cancelVisitors(cancelId, $("#reason").val());
                }
                $("#remove-modal-form").modal();//.modal();
            }
        });

        $("#select-reschedule").click(function () {
            var selected = table.getSelectedData();
            if (selected.length > 0) {
                if (selected.length > 1) {
                    alert('Перерегистрировать можно только отделно по одному участнику!')
                }
                else {
                    console.log("=====> reschedule");
                    var reschedule = [];
                    reschedule.push(selected[0].eventid);
                    rescheduleVisitors(reschedule);
                }
            }
        });

        $("#select-attended").click(function () {
            var selected = table.getSelectedData();
            if (selected.length > 0) {
                console.log("=====> attended");
                var attendedId = [];
                selected.forEach(function (visitor) {
                    console.log(visitor);
                    attendedId.push(visitor.eventid);
                });
                attendedVisitors(attendedId);
            }
        });

block block_patterns
    .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
        .card.border-primary.mb-4.shadow-lg
            .card-header
                .input-group.mb-3
                    .input-group-prepend
                        span.fa.input-group-text API Key
                    input#ApiKey.fa.small.form-control(readonly='', value='-')
                    .input-group-append
                        #clipboardComy.fa.fa-clipboard.btn.btn-outline-info(data-tooltip="tooltip" title="Копировать ключ в бувер обмена")
                        #genApiKey.fa.fa-refresh.btn.btn-outline-info(data-tooltip="tooltip" title="Генерировать новый ключ")
            .card-body.text-primary
                .input-group.mb-3
                    .input-group-prepend
                        span.fa.input-group-text JSON
                    //input#json.fa.small.form-control(readonly='', value='-')
                    textarea#json.fa.form-control(aria-label='JSON')
                    .input-group-append
                        #loadFile.fa.fa-download.btn.btn-outline-info(data-tooltip="tooltip" title="Сохранить JSON на ПК")
                        #saveFile.fa.fa-upload.btn.btn-outline-info(data-tooltip="tooltip" title="Открыть JSON из файла")
                        #postConfig.fa.fa-floppy-o.btn.btn-outline-success(data-tooltip="tooltip" title="Сохранить изменения")
                //textarea#json.form-control(aria-label='JSON')
                p.em.small.font-italic#path
                #expander.fabtn.btn-outline-info Развернуть
                #editor.json-editor

    script.
        function getApiKey() {
            $.ajax({
                type: 'GET',
                url: '/edit/apiData',
                dataType: 'json',
                data: {},
                response: 'json',
                success: function (data) {
                    console.log('======> getApiData');
                    console.log(data);
                    $('#ApiKey').val(data.apiToken);
                }
            });
        }

        function generateApiKey() {
            $.ajax({
                type: "PUT",
                url: '/edit/apiData',
                data: {},
                contentType: 'application/json',
                success: function (data) {
                    console.log('>generateApiKey');
                    console.log(data);
                    $('#ApiKey').val(data.apiToken);
                }
            });
        }
        $("#genApiKey").click(function () {
            generateApiKey(json_config);
        });

        $('#clipboardComy').click(function () {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($('#ApiKey').val()).select();
            document.execCommand("copy");
            $temp.remove();
        });

        function printJSON() {
            console.log('======> printJSON');
            console.log(json_config);
            $('#json').val(JSON.stringify(json_config));
            $('#editor').jsonEditor(json_config, {change: updateJSON, propertyclick: showPath});
        }
        var json_config = {};

        function updateJSON(data) {
            json_config = data;
            $('#json').val(JSON.stringify(json_config));
            console.log('======> updateJSON');
            console.log(data);
        }
        function showPath(path) {
            $('#path').text(path);
        }
        $(document).ready(function () {
            $('#json').change(function () {
                console.log('======> change');
                var val = $('#json').val();
                if (val) {
                    try {
                        json_config = JSON.parse(val);
                    }
                    catch (e) {
                        alert('Error in parsing json. ' + e);
                    }
                } else {
                    json_config = {};
                }
                printJSON();
            });

            $('#expander').click(function () {
                var editor = $('#editor');
                editor.toggleClass('expanded');
                $(this).text(editor.hasClass('expanded') ? 'Свернуть' : 'Развернуть');
            });

            $("#postConfig").click(function () {
                postConfig(json_config);
            });

            function getConfig() {
                $.ajax({
                    type: 'get',
                    url: '/edit/config',
                    dataType: 'json',
                    data: {},
                    response: 'json',
                    success: function (data) {
                        console.log('======> getConfig');
                        console.log(data);
                        json_config = data;
                        printJSON();
                    }
                });
            }

            function postConfig(config) {
                console.log('======> postConfig');
                console.log(config);
                $.ajax({
                    type: 'post',
                    url: '/edit/config',
                    data: JSON.stringify(config),
                    contentType: 'application/json',
                    response: 'json',
                    success: function (data) {
                        console.log('======> postConfig ok');
                    }
                });
            }

            getConfig();

            $(".updateData").click(function () {
                getConfig();
                getVisitors();
                getApiKey();
            });
        });
