doctype html
html
    head
        meta(charset = 'UTF-8')
        title= "HOLANDLY"
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(rel='icon', href='../img/icoH4.png', type='image/x-icon')
        link(rel='shortcut icon', href='../img/icoH4.png', type='image/x-icon')
    style
        include ../../dist/public/css/bootstrap.min.css
        include ../../dist/public/css/signin.css
    body(class="text-center")
        form(class="form-signin" onsubmit="return false")
            div(class="h1 mb-3 font-weight-normal")
                //img(class='logo' src=("../img/logoSign.png") )
                img(src=("../img/logoH4.png") )
            label(for="inputLogin" class="sr-only") Enter your login
            input(type="text" id="inputLogin" class="form-control" placeholder="Enter your login" required="" autofocus="")
            label(for="inputPassword" class="sr-only") Password
            input(type="password" id="inputPassword" class="form-control" placeholder="Password" required="")
            button(class="btn btn-lg btn-primary btn-block") ВОЙТИ
            p(class="mt-5 mb-3 text-muted") © 2018 Holateam 4
    script
        include ../../dist/public/js/lib/jquery-3.3.1.js
    script.
        $('.form-signin').submit(function (event) {
            console.log('login');
            var login = $('#inputLogin').val()
            var data = {'username': login, 'password': $('#inputPassword').val()};
            console.log(data);
            // var location = '/edit';
            var location = '/' + login + '/edit';
            $.ajax({
                type: "post",
                url: '/edit/login',
                dataType: 'html',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (data, textStatus, request) {
                    $.ajax({
                        type: "get",
                        url: "/edit",
                        dataType: "html",
                        success: function (data, textStatus, request) {
                            window.location = location;
                        }
                    })
                }
            });
        });
